.wrapper {
    text-align: center;
}

.button {
    position: absolute;
}

.container{
	width: 800px;
	min-height: 800px;
	background-color: pink;
	margin-right: auto;
    margin-left: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td { 
    padding: 7px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

[data-href] {
    cursor: pointer;
}

input {
    margin-left: 380px;
    width: 30%;
}